.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 10px;
}

.grid-item{
    border: 2px solid gray;
    border-radius: 3px;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}

.num-lg{
    color: coral;
    font-size: xx-large;
}

#puzzles-container{
    height: 300px;
    overflow: auto;
}

@media screen and (max-width: 720px) {
    .grid-item{
        padding: 5px;
    }
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}