.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 10px;
}

.grid-item{
    border: 2px solid gray;
    border-radius: 3px;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}

.letter{
    display: block;
    width: 21px;
    background-color: darkslategray;
    border-radius: 10%;
}

@media screen and (max-width: 720px) {
    .grid-item{
        padding: 5px;
    }
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}